.contact-form__header {
  font-size: 70px;
  margin: 10px 0 40px;
  padding: 0;
  text-align: center;
}

.contact-form__number-container {
  display: flex;
  justify-content: center;
  margin: 0 0 70px;
}

.contact-form__number-image {
}

.contact-form__number-image {
}

.contact-form__number {
  padding: 0;
  margin: 0;
  align-self: center;
}

.contact-form__seperator-container {
  position: relative;
  margin: 0 0 70px;
}

.contact-form__seperator {
  margin: 0 auto 70px;
}

.contact-form__seperator-text {
  margin: 0;
  padding: 0 20px 0;
  position: absolute;
  left: 51%;
  margin-left: -50px;
  top: 50%;
  margin-top: -20px;
  background: #f5f0f0;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto 60px;
  padding: 0;
  box-sizing: border-box;
  gap: 30px;
  max-width: 372px;
}

.form__header {
  margin: 0;
  text-align: center;
  font-size: 50px;
}

.form__input-box {
  position: relative;
  align-self: center;
}

.form__input {
  padding: 10px 0 10px 10px;
  width: 328px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: 0.5s;
}

.form__input-span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
}

.form__input-box .form__input:valid ~ .form__input-span,
.form__input-box .form__input:focus ~ .form__input-span {
  color: black;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #f5f0f0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  letter-spacing: 0.2em;
}

.form__input-box .form__input:valid,
.form__input-box .form__input:focus {
  border: 1px solid black;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__button,
.form__button *,
.form__button :after,
.form__button :before,
.form__button:after,
.form__button:before {
  border: 0 solid;
  box-sizing: border-box;
}

.form__button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.form__button:disabled {
  cursor: default;
}

.form__button:-moz-focusring {
  outline: auto;
}

.form__button svg {
  display: block;
  vertical-align: middle;
}

.form__button [hidden] {
  display: none;
}

.form__button {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.form__button .form__button-original {
  background: rgb(181, 143, 94);
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.form__button:hover .form__button-original {
  transform: translateY(100%);
}

.form__button .form__button-letters {
  display: inline-flex;
}

.form__button span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.form__button span:nth-child(2n) {
  transform: translateY(15px);
}

.form__button:hover span {
  opacity: 1;
  transform: translateY(0);
}

.form__button:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.form__button:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.form__button:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.form__button:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.form__button:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.react-select__container {
  background: transparent;
  border: 1px black solid;
}

.react-select__control {
  background: transparent;
  border-radius: 0;
}

.css-13cymwt-control {
  background: transparent;
  border-radius: 0;
}

.react-select__value-container {
  font-size: large;
}

.react-select-control {
  border-radius: 0;
  background: transparent;
}
