@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.dropdown {
  position: relative;
}

.dropdown-menu {
  color: black;
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: aqua;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 105px;
  background: #1f1717;
  padding: 0 40px 0;
  position: relative;
  z-index: 1;
}

.header__logo {
  align-self: center;
  height: 90px;
  cursor: pointer;
}

.header__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 40px;
  align-items: center;
  color: #f5f0f0;
  font-family: "Roboto Condensed", sans-serif, Arial;
  font-size: x-large;
}

.header__list-item-menu {
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__list-item-menu-hovered {
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: white;
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 51px;
  /* transform: translateY(-5px); */
}

.header__list-item-menu-hovered:hover {
  cursor: pointer;
  color: rgb(181, 143, 94);
  /* transition: transform 0.2s ease-in-out; */
}

.header__list-item {
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: white;
}

.header__list-item:hover {
  cursor: pointer;
  color: rgb(181, 143, 94);
}

.header__button {
  font-size: 15px;
  width: 170px;
  height: 41px;
  padding: 0;
  cursor: pointer;
  align-self: center;
}
