.video-background {
  width: 100%;
  height: 500px;
}

.video-background__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .video-background {
    height: 400px;
  }
}

/* @media screen and (max-width: 500px) {
  .video-background {
    height: 380px;
  }
} */
